<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

{% extends "base.html" %}

{% block title %} Vapor Flask {% endblock %}


{% block content %}

<div class="container">
    <h1>VaporFlask | {{ current_time }}</h1>
    <div>
        <img src="https://67.media.tumblr.com/5be8f128e1a36099f93e730c19ce1565/tumblr_o2ce31aUnt1rsdpaso1_500.gif">
        <h1> Hello my good friend {{name}} ! Oh how I've missed you!!</h1>
    </div>
    <form method="Post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.submit() }}
    </form>
</div>

{% endblock %}



