
<div class="container vapor">
    <ul class="posts">
        {% for post in posts %}
        <li class="post">
            <div class="post-date">{{ current_time }}</div>
            <div class="post-author">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div class="post-body">{{ post.body }}</div>
            <div class="post-content">
                <div class="post-footer">
                    <a href="{{ url_for('.post', id=post.id) }}">
                        <span class="label label-default">VAPORLINK</span>
                    </a>
                    {% if current_user == post.author %}
                    <a href="{{ url_for('.edit', id=post.id) }}">
                        <span class="label label-primary">EDIT</span>
                    </a>
                    {% endif %}
                    <a href="{{ url_for('.post', id=post.id) }}#COMMENTS">
                        <span class="label label-primary vapors">
                            {% if post.comments.count() == 1 %}
                        {{ post.comments.count() }} COMMENT
                        {% else %}
                        {{ post.comments.count() }} COMMENTS
                        {% endif %}
                        </span>
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


