<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Vapor Blog {% endblock %}



{% block content %}

<div class="container">
    <h1>VaporFlask | {{ current_time }}</h1>
    <div class="page-header">
        <img src="https://67.media.tumblr.com/5be8f128e1a36099f93e730c19ce1565/tumblr_o2ce31aUnt1rsdpaso1_500.gif">
        <h1> Hello {% if name %} {{name}} {% else %} Stranger {% endif %} ! Oh how I've missed you! </h1>
    </div>
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}



