<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} VAPORLAND {% endblock %}



{% block content %}

{% if current_user.is_authenticated %}
     HELLO, {{ current_user.username }}
    {{ wtf.quick_form(form) }}
{% else %}
    <h1 class="page-header center">Hello, <a href="{{ url_for('auth.register') }}">REGISTER HERE </a> to get started in VAPORLAND</h1>
    <div class="center">
        <img src="http://67.media.tumblr.com/0f0b7d9ff650feec018bd69d9f0045b5/tumblr_o2iiqfeTzW1qzgh6ro1_500.gif">
    </div>
{% endif %}

{% include '_posts.html' %}



{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}

